.lead {
    max-width: 984px;
    margin: 58px auto 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media all and (max-width: 1024px) {
    .lead {
        max-width: 928px;
        margin: 48px auto 0px;
    }
}
@media all and (max-width: 768px) {
    .lead {
       max-width: 100%;
       margin: 48px auto 0;
    }
}

@media all and (max-width: 230px) {
    .lead {
       max-width: 100%;
       margin: 48 auto 0;
    }
}