.footer__link {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    margin: 0 18px 0 0;
    text-decoration: none;
}

.footer__link:hover {
    transition-duration: 1s;
    opacity: 0.8;
}

.footer__link:nth-child(5n) {
    margin-right: 0;
}

@media all and (max-width: 764px) {
    .footer__link {
        margin-bottom: 32px;
    }
}

@media all and (max-width:320px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
}