.place__url-heading {
    max-width: 456px;
    margin: 0;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

@media all and (min-width: 768px) and (max-width:1023px) {
    .place__url-heading {
        width: 352px;
    }
}

@media all and (min-width: 320px) and (max-width: 767px) {
    .place__url-heading {
        width: 288px;
    }
}